/* Propiedades de la barra lateral desplegable */
.side-drawer {
    height: 100%;
    background:rgb(0, 0, 26);
    box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 230px;
    width: 90%;
    max-width: 400px; 
    z-index: 200;
    /*transform: translateX(-235%);  /* Posición oculta */ 
    transition: transform 0.9s ease-out;
}


/* Secciones divididas por líneas */
.SeccionHome {
    border-bottom: 1px solid gray;
}
.SeccionConsulta {
    border-bottom: 1px solid gray;
}
.SeccionDescubre {
    border-bottom: 1px solid gray;
}
.SeccionConsulta p{
    font-family: 'Montserrat';
    letter-spacing: 2px;
    margin-left: 20px;
    color: orange;
}
.SeccionDescubre p{
    font-family: 'Montserrat';
    letter-spacing: 2px;
    margin-left: 20px;
    color: orange;
}
.SeccionNosotros {
    color: white;
}

/* Propiedades de la lista contenida en la barra lateral desplegable */
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-drawer li {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.side-drawer a {
    color: white;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-family: 'Montserrat';
}

/* Propiedades de la sección superior donde está el usuario*/
.seccionSignIn {
    height: 140px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

/* Texto "Iniciar Sesión" de barra desplegable*/
.NombreUsuario {
    color: white;
    position: relative;
    z-index: 3;  
    top: 30px;  
    left: 40px;
}
.NombreUsuario {
    display: flex;
    flex-direction: column;    
    position: relative; 
    z-index: 2;  
    top: 50px;  
    left: 40px;
}
.SignIn {
    margin-top: -25px;
}

.fondoUsuario {
    width: 100%;
    background-size: cover;
    height: 140px;
    position: absolute;
    z-index: 0;
    top: 0px;    
}
.overlayFondoUsuario {
    width: 100%;
    height: 140px;
    background: linear-gradient(0deg, rgb(0,0,0,0.8)10%, rgb(0,0,0,0)100%);
    position: relative;
    z-index: 1;
    top: 0;
}

.side-drawer a:hover,
.side-drawer a:active {
    color:#ededed;
}


@media (min-width: 769px) {
    .side-drawer {
        display: none;
        max-width: 50px;
    }
}

/* CONFIGURACIÓN Ipad*/

@media (max-width: 769px) {
    .side-drawer {
        max-width: 270px;
        transform: translateX(-210%);  /* Posición oculta */
    }
    .side-drawer.open {
        transform: translateX(-270px);  /* Posición desplegada */
    }
    .side-drawer ul {
        justify-content: start;
    }
    .side-drawer a {
        font-size: 1rem;
    }
    .side-drawer li {
        margin: 0.8rem 0;
    }   
}

/* Configuración iPhone Plus */

@media (max-width: 415px) {
    .side-drawer{
        transform: translateX(-100%);  /* Posición oculta */
    }
    .side-drawer.open {
        transform: translateX(85px);  /* Posición desplegada */
    }
    .side-drawer li {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }
}




       



