.side-drawer {
    height: 100%;
    background:rgb(0, 0, 26);
    box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 50px;
    right: 230px;
    width: 100%;
    min-width: 769px;
    z-index: 200;
    transform: translateX(-210%);  /* Posición oculta */ 
    transition: transform 0.9s ease-out;
}

.side-drawer.open {
    transform: translateX(30%);  /* Posición desplegada */  /*-270*/   /*230*/
}

.seccionSignIn {    
    
    color: white;
}
.NombreUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}