.user-drawer {
    height: 100%;
    background:#293462;
    box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(50%);
    transition: transform 0.3s ease-out;
}