.footerConainer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.footerColumnas {
    width: 90%;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'Yantramanav', sans-serif;
    border-bottom: 1px solid white;
}
.footerColumnas h1 {
    color:orange;
    font-size: 16px;
    text-align: start;
}
.footerColumnas p {
    font-size: 14px;
}

.columna1 {
    width: 25%;
    margin-top: 40px;
    
}
.columna2 {
    width: 25%;
    margin-top: 40px;
}
.columna3 {
    width: 25%;
    margin-top: 40px;
}
.columna4 {
    width: 25%;
    margin-top: 140px;
    
}

.columna1 p {
    margin-top: -1px;
}    
.columna2 ul {
    margin-top: -1px;
}
.columna3 ul {
    margin-top: -1px;
}

/* *******   EDICION COLUMNA 1 ******* */
.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marca h1 {
    width: 80%;
}

.acerca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acerca h1, p{
    width: 80%;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactanos h1, p {
    width: 80%;
}
.contactanos p {
    text-align: justify;
}
.contactanos button {
    width: 160px;
    height: 35px;
    color: #00001A;
    background: white;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    border: hidden;
    margin-top: -1px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.contactanos button:hover{
    background: orange;
    color: white;
    border:3px solid white;
}
  
 /* *******   EDICION COLUMNA 2 ******* */
.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navegacion h1, ul{
    width: 80%;
}
.navegacion h1 {
    padding-left: 40px;
}
.navegacion ul {
    list-style: none;
}
.navegacion li {
    color: white;
    word-spacing: 1px;
    padding-top: 15px;    
}
.navegacion li:hover {
    color: orange;
}

/* *******   EDICION COLUMNA 3 ******* */
.interes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.interes h1, ul{
    width: 80%;
}
.interes h1 {
    padding-left: 40px;
}
.interes ul {
    list-style: none;
}
.interes li {
    color: white;
    word-spacing: 1px;
    padding-top: 15px;    
}
.interes li:hover {
    color: orange;
}

/* *******   EDICION COLUMNA 4 ******* */
.suscribete {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suscribete h1, button {
    width: 70%;
}
.suscribete h1 {
    color: white;
    font-weight: 100;

}

.suscribete button {
    width: 160px;
    height: 35px;
    color: white;
    background: orange;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    border: hidden;
    margin-top: -1px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.suscribete button:hover{
    background: #00001A;
    color: orange;
    border:1px solid white;
    font-weight: 300;
}

/* *******   EDICION BARRA SOCIAL MEDIA ******* */
.footerBase {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}
        
.socialMedia {    
    grid-column: 3;
    align-self: center;
    justify-self: center;
    
}
.socialMedia p {
    width: fit-content;
}

.brand {
    grid-column: 4 / 6;
    align-self: center;
    justify-self: center;
}
.brand p {
    width: fit-content;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
}


    